body {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: lemonchiffon;
    
    }


#header {

    background-color: rgb(226, 237, 241);
    border-radius: 30px;
    display:flex;
    justify-content: center;
    

}

#text_body {

    display: flex;
    justify-content: space-between;
    margin: 10px;

}

#text_body p {

    width: 25%;
    text-wrap: wrap;
    text-align: center;
    font-weight: bold;
    background-color: rgb(226, 237, 241);
    border-radius: 10px;
    ;

}

#grid-modifier {

    padding:10px;
    background-color: lightcoral;
    border-radius: 20px;
    border: solid chocolate 1px;
    box-shadow: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
    align-self: center;
}

#grid_holder {

    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 600px;
    align-self: center;
    cursor: pointer;
}


.row_style {

    display: flex;
    flex-grow: 1;
    background-color: white;

}


.col_style {

    border: solid grey 1px;
    flex: 1;

}

#color_style_black {

    background-color: black;

}

#bottom-toggle-button-holder {

    display: flex;
    margin-top: 40px;
    padding: 20px;
    justify-content: center;
    background-color: lightblue;
    border-radius: 10px;

}

#bottom-toggle-button-holder input{ 

    margin-left: 20px;

}

footer{

    display:flex;
    justify-content: center;

}

footer p{

    font-size: small;

}